POSTGRES_DB=smeet
DB_URL=jdbc:postgresql://localhost:5432/smeet
DB_USERNAME=smeet
DB_PASSWORD=change_me

MAIL_USERNAME=
MAIL_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5173/auth/google/callback

JWT_SECRET=change_me

MONGO_DATABASE=smeet
MONGO_USERNAME=smeet
MONGO_PASSWORD=change_me
MONGO_URI=mongodb://smeet:change_me@localhost:27017/smeet?authSource=admin

REDIS_HOST=localhost
REDIS_PORT=6379

RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=smeet
RABBIT_PASS=change_me
RABBIT_STOMP_PORT=61613
